/*Barre de navigation */
.navright{
    float:right; /*Onglet about menu et contact a droite */
} 
.card{
    padding: 8px 16px ; 
     background-color: white; /*Espace entre exterieur et bordure lien*/
    display: block !important;;
} 

.top a{
    text-align: center;
    text-decoration: none; /*Centrer le texte*/
    color:black;
    display:inline-block;
    font-size: 15px;
    padding: 8px 16px; /*Espace bordure lien et l'ecriture*/
}

.top a:hover{
    background: #c1c1c1;
}
div.top{
    position: sticky;
    top: 0;   /*Fixer la barre de navigation en haut*/
    left:0;
    z-index: 1;
    width: 100%;  
    background-color: white; 
   }
.box-shadow{
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 5px 0 rgba(0,0,0,0.12); /*Ombre de la barre de navigation*/
} 
/*Image principale */
.contimg{
    position: relative;
} 
.textimg{ 
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 35px;
    letter-spacing: 5px;
    padding: 16px;
    color: #302f2fca;
}
.image{
    max-width:100%;height:auto; /* Fixe le head a une largeur de 1600px qui recouvrent bien l'affichage*/
} 
/*Content et Image principale*/
.auto{
    margin-left:auto;margin-right:auto; /*Espace des deux cotés de l'affichage si width's head sup 1600px et width sup a 100%*/
}


    
hr{
    border:0;border-top:1px solid #eee; margin: 20px 0;
}
.opacity{
    opacity: 0.7;
}
.about-section{
    line-height: 1.5;
    font-size: large;  
    padding: 42px 0; /*espace haut bas de 42px et 0 droite gauche*/
} 
#img-container{
    width: 49%;
    float: left;
    padding: 24px;

}
#text-container{
    width: 49%;
    float: left;
    padding: 24px;

}
#text-container h1{
    text-align: center;
    letter-spacing: 5px;
}

.about-section::after
{ 
    content:"";
    clear: both;
    display: table;
  
}
.menu-section{
    padding: 64px 0; /*espace haut bas de 42px et 0 droite gauche*/
    
}
.menu-section::after{
    content:"";
    clear: both;
    display: table;
}
#text-container2{
    width: 49%;
    float: left;
    padding: 24px;
}
#text-container2 p{
    color: grey;
}
#text-container2 h4 h1{
    letter-spacing: 5px;
}

#img-container2{
    width: 49%;
    float: left;
    padding-left: 30px;
}
.grey{
    color: grey;
}
.text-align{
    text-align: center;
}
/*bloc1*/        
span{
    background-color: #f1f1f1;
    padding: 0 8px; 
    color:#000;
    display:inline-block;
    text-align:center
}
/*Image principale et Content*/
.letspac{
    letter-spacing: 5px;
}
/*Contact*/
.pad{padding: 40px 16px;}
input[type=text],[type=datetime-local]
{
    width: 100%;
    padding: 16px 0px;
    margin: 8px 0;
    border:none;
    border-bottom: 1px solid #c1c1c1;
    display: block;
}
input[type=submit]{
    color: lightgray;
}
.blue-grey{
    color: #607d8b;
}
.button
{  
    background-color: #f1f1f1;
    border: none;
    padding: 14px;
    text-decoration: none;
    margin: 16px 0;
    cursor: pointer;
}
.button:hover{
    background-color: #c1c1c1;
}
/*pied de page*/
footer > p {
    padding:  64px;
    text-align: center;
    background-color:#f1f1f1;
}
a.color:hover{
    color: green;
}
.color:link{
    color: black;
}
/*Affichage*/
body{
    margin: 0;
  }
*{ 
    box-sizing: border-box;
}
body{font-family: "Times New Roman", Georgia, Serif; padding:0;}
@media screen and (max-width:600px){
    #img-container{
    display:none;
}
    #text-container{width: 100%;}
    .navright{display:none;}
    

    
}
@media screen and (max-width:992px){
   
    #text-container2{width: 100%;}
    #img-container2{width: 100%;padding:0 32px;}

    
}








